extends base.pug

block scripts
    script("")

block style
    style
        include ../static/CSS/style.css
        include ../static/CSS/aboutstyle.css


block content
    div.container1
        p   Sulabh Dance Academy is one of Delhi-NCR's best dance Academy with focus on teaching dance at affordable prices and convenient timings. We have made recent appearances on Indian TV Channels Sony, Colors,Star Plus. Awards Boogie Woogie WINNER 2010 
        p   Chak dhoom dhoom team challenge 2011 
        p   Boogie Woogie celebrity 2014 

    div.pic
        h1 GALLERY
        img(src="../static/gallary/pic1.jpg", alt="")
        img(src="../static/gallary/pic2.jpg", alt="")
        img(src="../static/gallary/pic3.jpg", alt="")
        img(src="../static/gallary/pic4.jpg", alt="")
        img(src="../static/gallary/pic5.jpg", alt="")
        img(src="../static/gallary/pic6.jpg", alt="")
        img(src="../static/gallary/pic7.jpg", alt="")